﻿@model IEnumerable<StaffWebApp.ViewModels.Customer.Orders.CustomerOrdersViewModel>

@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order History</h2>


@foreach (var item in Model)
{
    <br />
    <table class="table" style="width:100%;">
        <tr>
            <th style="width:15%;">
                @Html.DisplayNameFor(model => model.PurchaseOrderNo)
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.CustomerNo)
            </th>
            <th style="width:45%;">
                @Html.DisplayNameFor(model => model.OrderStatusDescription)
            </th>
            <th style="width:10%;">

            </th>
            <th style="width:10%;">

            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatusDescription)
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItems.First().ItemEAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItems.First().ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItems.First().ItemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItems.First().ItemQuanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItems.First().ItemUnitPrice)
            </th>
        </tr>
        @foreach (var orders in item.OrderedItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => orders.ItemEAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orders.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orders.ItemDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orders.ItemQuanity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orders.ItemUnitPrice)
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Back to List", "Profile", new { customerNo = Model.FirstOrDefault().CustomerNo })
</p>

