﻿@model StaffWebApp.ViewModels.Customer.CustomerProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCanPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCanPurchase)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Message History", "MessageHistory", new {  customerNo = Model.CustomerNo }) |
    @Html.ActionLink("Order History", "OrderHistory", new { customerNo = Model.CustomerNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
