﻿@model IEnumerable<StaffWebApp.ViewModels.Stock.PriceHistoryViewModel>

@{
    ViewBag.Title = "PriceHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Price History</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ean)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateChanged)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ean)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateChanged)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to Editing", "Edit", new { ean = Model.FirstOrDefault().Ean })
</p>
