﻿@model StaffWebApp.ViewModels.ThirdPartyStock.ThirdPartyOrderStockViewModel

@{
    ViewBag.Title = "Placing Order";
}

<h2>Placing Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductID, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Seller, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Seller, new { @class = "form-control", @readonly = "readonly", style="width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ean, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Ean, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BrandName, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PricePer10, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PricePer10, new { @class = "form-control", @readonly = "readonly", style = "width: 450px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", style = "width: 450px;" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCards, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedCreditCardNumber, Model.CreditCards.Select(x => new SelectListItem { Value = x.hashCard, Text = String.Format("{0} - {1}", x.cardNumber, x.nameOnCard) }) , new { @class = "form-control", style = "width: 450px;" })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm Order" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "PurchaseStock", new { ean = Model.Ean, tpService = Model.Seller }, "")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
